@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div>
    <a href="Movies/New" class="btn btn-primary">New Customer</a>
</div>

<br />

<table class="table table-bordered table-hover">
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Duration</th>
        <th>Genre</th>
        <th>In Stock?</th>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Duration hrs</td>
                <td>@movie.Genre.Name</td>
                @if (movie.NumInStock > 0)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td style="color:#ff0000">No</td>
                }

            </tr>
        }
    </tbody>
</table>

