@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for @Model.Name</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Bio</th>
        <td>
            <p>@Model.Bio</p>
        </td>
    </tr>
</table>

