@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<div>
    <a href="Customers/New" class="btn btn-primary">New Customer</a>
</div>

<br />

<div>
    <table class="table table-bordered table-hover">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Membership Type</th>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@Html.ActionLink(person.Name, "Details", "Customers", new { id = person.Id }, null)</td>
                    <td>@person.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>