@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<div>
    <a href="Customers/New" class="btn btn-primary">New Customer</a>
</div>

<br />

<div>
    <table id="customers" class="table table-bordered table-hover">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Membership Type</th>
        <th>Delete</th>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@Html.ActionLink(person.Name, "Edit", "Customers", new { id = person.Id }, null)</td>
                    <td>@person.MembershipType.Name</td>
                    <td>
                        <button class="js-delete btn btn-danger btn-sm" data-customer-id="@person.Id"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#customers').DataTable();

            $('#customers').on('click', '.js-delete', function () {
                var self = $(this);

                bootbox.confirm('Are you sure you want to delete this customer?', function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + self.attr('data-customer-id'),
                            method: 'DELETE',
                            success: function () {
                                self.parents('tr').remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}